@import url(./css/fonts.css);
@import url(./css/reset.css);

body,
html {
  height: 100%;
}
.header {
  font-size: 14px;
  font-weight: lighter;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
  transition: 0.35s cubic-bezier(1, 1, 1, 1);
  &.active {
    transform: translateY(-100%);
  }
  h1 {
    .logo {
      display: flex;
      align-items: center;
      font-size: 14px;
      .outText {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        margin: -1px;
      }
      svg {
        margin: 2px 5px 0 0;
      }
    }
  }
  nav {
    .gnb {
      display: flex;
      gap: 20px;
    }
  }
}

section {
  height: 100vh;
}
.main-visual {
  padding-top: 100px;
  height: 100%;
  overflow: hidden;
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      font-size: 8vw;
      font-weight: bolder;
    }
  }
  .visual-img {
    position: absolute;
    left: 0;
    bottom: 0;
    .img-wrap {
      display: flex;
      width: 120vw;
      margin: 0 0 2vw -10vw;
      span {
        flex: 1;
        margin: 0 -2.5vw;
        transition: transform 0.5s;
        &:hover {
          transform: translateY(-50px);
        }
        img {
          object-fit: cover;
        }
      }
    }
  }
}
